# Telegram
TELEGRAM_BOT_TOKEN=

# Google Gemini
GEMINI_API_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://REDACTED.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=***REMOVED***LCJpYXQiOjE3NzM0MDU2NTEsImV4cCI6MjA4ODk4MTY1MX0.3pV13x_CZNpNLhfUtkJJn-vGVmHynAuMPF0gkVoLDmo
SUPABASE_SERVICE_ROLE_KEY=

# Vercel (部署後設定)
NEXTAUTH_URL=
